@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrera konto";
}

<h1 class="text-center mt-5 h2">@ViewData["Title"]</h1>

<div class="row justify-content-center text-center">

    <div class="col-md-8 col-lg-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label class="text-sm" asp-for="Input.Email">E-postadress</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="0100000000" />
                <label asp-for="Input.PhoneNumber">Telefonnummer</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" onclick="showParagraph()" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Lösenord</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <p id="paragraph" style="display:none">Använd minst 6 bokstäver samt en kombination av gemener, versaler, symboler och siffror.</p>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Upprepa lösenord</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-50 btn btn-md btn-primary">Skapa konto</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>function showParagraph() {
        document.getElementById("paragraph").style.display = "block";
    }</script>