@{
    ViewData["Title"] = "Folkets Hus | Lövånger";
}

<div class="text-center mt-5">
    <h1>Välkommen!</h1>
    <article>
        <p>
            Detta är en bokningssida för Folket Hus - Lövånger. <br />
            Gå in under Träningspass i menyn för att se alla tillgängliga pass som finns att boka för tillfället. <br />
            Hittar du något du vill anmäla dig på? <br /> Om du inte redan har ett konto, gå in på registrera för att få tillgång till att kunna boka!
        </p>
    </article>
    <picture>
        <source srcset="images/workout1280x853.webp" type="image/webp" />
        <img src="images/workout1280x853.jpg" width="1000" alt="a man and a woman working out" />
    </picture>

</div>

